[Desktop Entry]
Encoding=UTF-8
Name=体験入学: 確認シート - Google ドキュメントへのリンク
Type=Link
URL=https://docs.google.com/document/d/1ttNO1UZqOHVGYzl6a2mde9tdbhlldROcI-eQ1PW6p0g/edit
Icon=text-html
Name[ja]=体験: 確認シート
